<h1>Contact</h1>
<h3>Ian</h3>
<a href="http://github.com/denkyuu"><%= image_tag 'github.svg', alt: 'Ian Github', class: 'sm-icon' %></a>

<h3>Partials</h3>
<a href="http://partials.co"><%= image_tag 'partialstiny.png', alt: 'Partials', class: 'sm-icon' %></a>
<a href="http://partials.co/facebook"><%= image_tag 'facebook.svg', alt: 'Partials Facebook', class: 'sm-icon' %></a>
<a href="http://partials.co/youtube"><%= image_tag 'youtube.svg', alt: 'Partials Youtube', class: 'sm-icon' %></a>
<a href="http://github.com/partials-dev"><%= image_tag 'github.svg', alt: 'Partials Github', class: 'sm-icon' %></a>
